- content_for(:page_header) do
  %h1 SEO
  %p= link_to 'Все', [:all, :admin, :seos] if action_name != 'all'
  %p= link_to 'Пустые', [:admin, :seos] if action_name != 'index'

- unless @seos.empty?
  %table.list
    %colgroup
      %col
      %col
      %col
      %col
      %col
      %col.w1
    %thead
      %tr
        %th Url
        %th Объект
        %th Тайтл
        %th Кейвордс
        %th Дескрипшен
        %th
    - @seos.each do |seo|
      %tr
        %td= link_to "#{seo.url}" || 'НЕ ЗАПОЛНЕНО', [:edit, :admin, seo]
        %td= link_to "#{seo.seoable_type}@#{seo.seoable_id}" || 'НЕ ЗАПОЛНЕНО', [:edit, :admin, seo]
        %td= link_to seo.title || 'НЕ ЗАПОЛНЕНО', [:edit, :admin, seo]
        %td= link_to seo.keywords || 'НЕ ЗАПОЛНЕНО', [:edit, :admin, seo]
        %td= link_to seo.description || 'НЕ ЗАПОЛНЕНО', [:edit, :admin, seo]
        %td= link_to 'Удалить', [:admin, seo], method: :delete, data: { confirm: 'Удалить?' }, class: :del

