- content_for(:page_header) do
  %h1 SEO
  %p= link_to 'Все', [:all, :admin, :seos] if action_name != 'all'
  %p= link_to 'Пустые', [:admin, :seos] if action_name != 'index'

- unless @seos.empty?
  %table.list
    %colgroup
      %col
      %col
      %col
      %col
      %col.w1
    %thead
      %tr
        %th Url
        %th Объект
        %th Тайтл
        %th Заполнено?
        %th
    - @seos.each do |seo|
      %tr
        %td= seo_link_for_url(seo)
        %td= seo_link_for_object(seo)
        %td= seo_title_for(seo)
        %td= seo_empty_for(seo)
        %td= link_to 'Удалить', [:admin, seo], method: :delete, data: { confirm: 'Удалить?' }, class: :del

